/**
 * --------------------
 * --- IMPORT FONTS ---
 * --------------------
 */
 @font-face {
  font-family: "Pixeled";
  src: url("./ressources/fonts/Pixeled.ttf") format("truetype");
}
/**
 * --------------------
 * --- IMPORT FONTS ---
 * --------------------
 */


body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url('./ressources/images/pattern-stone.jpg');
  background-size: 100px 100px;
  background-color: rgba(165, 40, 40, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
}

a {
  color: #000000;
  text-decoration: none;
}


/* --- BUTTONS --- */
.btn {
  text-align: center;
  font-size: 30px;
  font-family: Pixeled, Arial, sans-serif;
  border: 5px solid black;
  border-radius: 7px;
  padding: 0 45px;
  background-color: rgb(189, 189, 189);
  box-shadow: 6px 6px 0px black;
  user-select: none;
  transition: background-color .2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}

.btn:active {
  box-shadow: 2px 2px 0px black;
}
/* --- END BUTTONS --- */