.title-home {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  font-family: Pixeled, Arial, sans-serif;
}


/* --- BUTTONS --- */
.play-btn-home {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper-btn {
  position: absolute;
  top: 70%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* --- END BUTTONS --- */
