.title-home {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  font-family: Pixeled, Arial, sans-serif;
}

.home-btn-game-board {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 14px;
  padding: 0px 20px 4px;
}

#lifeWrapper {
  position: absolute;
  top: 140px;
  left: 20px;
  margin-left: -20px;
}

.heart, .coin {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

#coinCounterWrapper {
  position: absolute;
  top: 140px;
  right: 20px;
  margin-left: -20px;
}

.game-board {
  position: relative;
  width: 100%;
  height: 100%;
}

#gameBoard {
  background-size: 450px;
  display: block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../ressources/images/road.png');
}


/* ----------------------- *
 * --- GAME OVER MODAL --- *
 * ----------------------- */
#modal {
  display: none;
}

.shadow-modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  text-align: center;
  font-family: calibri;
  background-color: white;
  border: 4px solid black;
  border-radius: 15px;
}

.content-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: "Pixeled";
  font-size: 30px;
}

.footer-modal {
  user-select: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  background-color: #cacaca;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 3px 3px 0px #000;
  font-size: 25px;
  font-weight: bold;
}

.footer-modal:hover {
  cursor: pointer;
  box-shadow: 2px 2px 0px #000;
}

.footer-modal:active {
  box-shadow: 1px 1px 0px #000;
}

.text {
  font-family: "Pixeled";
  font-weight: 200;
}
/* --------------------------- *
 * --- END GAME OVER MODAL --- *
 * --------------------------- */
